@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 200;
}

#logo {
    float: left;
    font-size: 280%;
    letter-spacing: 2px;
    margin-left: 10px;
}

/* navigation links */

#sections-menu {
    font-size: 100%;
    letter-spacing: 2px;
}

#sections-menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#sections-menu a {
    text-decoration: none;
    color: inherit;
}

#sections-menu, #logo {
    line-height: 75px;
}

#sections-menu a:hover {
    border-bottom: 1px solid;
}

/* hero image and cover text */

#hero-outer {
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 400px;
    width: 100%;
    background: url('../images/hero-image.jpg');
    
}

#cover-text, #cover-text h2 h3 {
    color: white;
}

#cover-text {
    font-size: 130%;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 300px;
    height: 200px;
    background-color: rgba(245, 39, 63, 0.8);
    position: absolute;
}

/* roots section */

#roots {
    height: 400px;
}

#left-roots {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-roots {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-roots {
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
}

#center-roots-bg {
    background: url('../images/center-image5.webp') no repeat center center;
    height: 100%;
    border-radius: 50%;
}

#center-roots-container {
    height: 300px;
    width: 300px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#right-roots-content {
    width: 60%;
    float: left;
    line-height: 20px;
}

#left-roots-content {
    width: 60%;
    float: right;
    line-height: 20px;
    height: 100%;
}

#roots h2 {
    text-align: center;
    margin: 30px 0;
    font-size: 280%;
}

/* Food & Drinks section */

#food-menu {
    width: 50%;
    float: left;
    margin-top: 90px;
    height: 400px;
    text-align: center;
}

#drinks-menu {
    width: 50%;
    float: right;
    margin-top: 90px;
    height: 400px;
    text-align: center;
}

#starters {
    width: 33.333%;
    background-color: red;
}

#main-courses {
    width: 33.333%;
    background-color: blue;
}
