@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 200%;
}

#logo {
    float: left;
    font-size: 280%;
    letter-spacing: 2px;
    padding-left: 10px;
}

/* navigation links */

#sections-menu {
    font-size: 100%;
    letter-spacing: 2px;
}

#sections-menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#sections-menu a {
    text-decoration: none;
    color: inherit;
}

#sections-menu, #logo {
    line-height: 75px;
}

#sections-menu a:hover {
    border-bottom: 1px solid;
}

/* hero image */

#hero-outer {
    height: 400px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 400px;
    width: 100%;
    background: url('../images/hero-image.jpg');
    
}